examples/test1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.freesp.de/xml/freeSP/test1"
            xmlns="http://www.freesp.de/xml/freeSP/test1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            elementFormDefault="qualified">

    <xsd:complexType name="Test1">
        <xsd:attribute name="test1" type="xsd:integer" use="required"/>
        <xsd:attribute name="test2" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="test1" type="Test1"/>
</xsd:schema>
